.containerhotel {
  background: url("https://www.w3schools.com/w3images/photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  min-height: 100%;
}

.searchfield {
  background: white;
  width: 440px;
  height: 480px;
  top: 15%;
  left: 22%;
  position: absolute;
  border-radius: 0.4rem;
  padding: 32px;
}

.searchfield input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.searchfield p {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.searchfield .btnsubmit {
  width: 100px;
  float: right;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #1a8fb4;
}

.searchfield .btnsubmit:hover {
  background-color: #08bff7;
  text-decoration: none;
  color: #472d20;
}

.box {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 300px;
  background: #000;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 5px 5px;
}

.imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  background: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box:hover .imgBx {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  cursor: pointer;
}

.imgBx img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 0.5;
  cursor: pointer;
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
}

.social-icon li a {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}

.box .social-icon li a:hover .fab {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.box .social-icon li a:hover .fas {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.box .social-icon li a .fab {
  font-size: 24px;
  line-height: 50px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.box .social-icon li a .fas {
  font-size: 24px;
  line-height: 50px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.box:hover .social-icon li a {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.box:hover .social-icon li:nth-child(1) a {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.box:hover .social-icon li:nth-child(2) a {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.box:hover .social-icon li:nth-child(3) a {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.box:hover .social-icon li:nth-child(4) a {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.details h2 {
  margin: 10px 0 0;
  text-align: center;
  padding: 0;
  font-size: 1rem;
}

.details h2 span {
  color: #bbb;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: lightgray;
}

.sub1 {
  width: 100%;
  padding: 50px 50px;
}

.sub2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 50px;
}

.gmap-container {
  position: relative;
  width: 40%;
  overflow: hidden;
}

.hotel-owner-container {
  padding-left: 5%;
  width: 60%;
}

.sub1 .searchfield1 {
  background: white;
  padding: 20px;
  border-radius: 20px;
  min-height: 40vh;
}

.searchfield1 h2 {
  margin-bottom: 20px;
}

.searchfield1 input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.searchfield1 p {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.searchfield1 .btnsubmit {
  width: 100px;
  float: right;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #1a8fb4;
}

.searchfield1 .btnsubmit:hover {
  background-color: #08bff7;
  text-decoration: none;
  color: #472d20;
}

.figuras1 {
  margin-top: 150px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-content {
  min-height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.top-content a {
  max-width: 25%;
  min-height: 30vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 15px;
}

.top-content a img {
  border-radius: 30px;
  max-width: 100%;
  min-height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid lightgray;
  margin: 10px 15px;
}

.top-content a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.hotel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
}

.hotel-info {
  width: 65%;
  padding-left: 15%;
  padding-right: 10%;
}

.comment-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-owner img {
  height: 65px;
  width: 65px;
  margin-right: 2rem;
  border-radius: 50%;
}

.owner-info {
  border: 1px solid lightgrey;
  border-radius: 30px;
  margin-right: 10%;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  min-width: 35%;
  min-height: 70vh;
}

.hotel-owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hotel-owner img {
  height: 65px;
  width: 65px;
  margin-right: 2rem;
  border-radius: 50%;
}

.personal {
  text-align: center;
  padding: 0 10px 10px 10px;
  margin-top: -20px;
}

.editar-botoes {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.info-maps-window {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 300px;
}

.info-maps-window small {
  margin-bottom: 0.5rem;
}

.info-maps-window img {
  height: 200px;
  width: 200px;
}
/*# sourceMappingURL=main.css.map */