# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
env
# dependencies
/node_modules
/.pnp
.pnp.js
lib/
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Created by https://www.gitignore.io/api/virtualenv
# Edit at https://www.gitignore.io/?templates=virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.env
pip-selfcheck.json
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# End of https://www.gitignore