nav li:hover {
  background: #f35404;
  border-radius: 10px;
}
.show1 {
  z-index: 6;
}
.owlimage {
  width: 50px;
  height: 50px;
}
.dropdown-content {
  display: none;
  position: fixed;
  right: 100px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
  min-height: 200px;
  text-align: center;
}
.dropdown-content a {
  min-height: 30px;
  color: inherit;
}
.dropdown-content a:hover {
  background-color: rgb(143, 139, 139);
  text-decoration: none;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.perfil-dropdown {
  display: flex;
  padding: 15px;
  background: #fcfcfc;
}
.perfil-dropdown img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
