.s-top {
  position: -webkit-sticky;
  position: sticky;
  top: -100px;
}

.card-container {
  width: 75%;
  margin: 20px 13%;
  border-radius: 0.3rem;
  padding: 20px;
  background: white;
  border: 0.5px solid lightgrey;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status p {
  padding: 10px;
}

.card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid lightgrey;
}

.card-head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.card-head section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-head section span {
  color: #08bff7;
  font-weight: bold;
}

.card-body {
  width: 100%;
  border-bottom: 0.5px solid lightgrey;
  margin-bottom: 20px;
}

.content {
  min-height: 100px;
}

.card-comments {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-comments img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 8px;
}

.card-comments form {
  border: 1px solid lightgrey;
  border-radius: 1.4rem;
  width: 80%;
  padding: 0.5rem;
  background: #f2f3f5;
}

.card-comments form input {
  border: 0.1px dotted grey;
  border-radius: 40%;
  padding: 8px 1rem;
  text-decoration: none;
  background: #f2f3f5;
  width: 60%;
  margin-right: 5px;
}

.card-comments form i {
  margin-right: 15px;
}

.card-comments form button {
  border: 0;
  background: #472d20;
  color: white;
  font-size: 0.77rem;
  font-weight: bold;
  border-radius: 2rem;
  padding: 10px;
}

.card-comments form button:hover {
  cursor: pointer;
  background: #f35404;
  color: #472d20;
  border: 0;
}

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5px;
  margin: 0;
}

.likes p {
  margin: 0 10px;
  font-weight: bold;
}

.myprofile-container {
  width: 90%;
  text-align: center;
}

.submy {
  margin-left: 8%;
}

.color {
  background: rgba(71, 45, 32, 0.82);
  color: white;
  border-radius: 10px;
  margin-bottom: 40px;
}

.color img {
  margin-top: 60px;
  margin-bottom: 35px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.menucard {
  margin-bottom: 50px;
  text-align: start;
}

.menucard p {
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
}

.menucard p i {
  margin-left: 15%;
  margin-right: 5%;
}

.dropdown-menu {
  background: #472d20;
  width: 500px;
  padding: 20px 20px 20px 20px;
  height: 70px;
}

.dropdown-menu i {
  margin-right: 10px;
}

.dropdown-menu a {
  text-decoration: none;
  padding-right: 20px;
  border-radius: 10px;
  color: white;
}

.dropdown-menu a:hover {
  background: #f35404;
}

.dropright p:hover {
  cursor: pointer;
  text-decoration: none;
  background: #f35404;
  color: white;
}

.link-to {
  text-decoration: none;
  color: black;
}

.link-to:hover {
  text-decoration: none;
}

.link-to:hover p {
  background: #f35404;
  color: white;
}

.content-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-hotel img {
  margin-right: 2rem;
  width: 150px;
  height: 150px;
  border-radius: 40%;
}

.edit-btn {
  width: 100px;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #1a8fb4;
  border-radius: 1rem;
}

.edit-btn:hover {
  background-color: #08bff7;
  text-decoration: none;
  color: #472d20;
}

.deletemsg {
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */