// body {
//   background-color: #1a8fb4;
//   font-family: "Roboto", sans-serif;
//   font-size: 14px;
// }
.btncustom {
  background-color: #1a8fb4;
  color: white;
}
.btncustom:hover {
  background-color: #08bff7;
  text-decoration: none;
  color: #472d20;
}
.container1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 90vh;
  padding-top: 40px;
}

.owl {
  margin: auto;
  width: 211px;
  height: 108px;
  background-image: url("./owl-login.png");
  position: relative;

  .hand {
    width: 34px;
    height: 34px;
    border-radius: 40px;
    background-color: #472d20;
    transform: scaleY(0.6);
    position: absolute;
    left: 14px;
    bottom: -8px;
    transition: 0.3s ease-out;

    &.password {
      transform: translateX(42px) translateY(-15px) scale(0.7);
    }
    &.hand-r {
      left: 170px;
      &.password {
        transform: translateX(-42px) translateY(-15px) scale(0.7);
      }
    }
  }

  .arms {
    position: absolute;
    top: 58px;
    height: 41px;
    width: 100%;
    overflow: hidden;

    .arm {
      width: 40px;
      height: 65px;
      background-image: url("./owl-login-arm.png");
      position: absolute;
      left: 20px;
      top: 40px;
      transition: 0.3s ease-out;

      &.password {
        transform: translateX(40px) translateY(-40px);
      }

      &.arm-r {
        left: 158px;
        transform: scaleX(-1);
        &.password {
          transform: translateX(-40px) translateY(-40px) scaleX(-1);
        }
      }
    }
  }
}

.form {
  margin: auto;
  margin-top: -9px;
  padding: 30px;
  background-color: #1a8fb4;
  width: 280px;
  border-radius: 20px;

  .control {
    margin-bottom: 10px;
    position: relative;

    label {
      position: absolute;
      font-size: 16px;
      top: 11px;
      left: 9px;
      color: rgba(0, 0, 0, 0.3);
    }

    input {
      padding: 9px 6px 9px 30px;
      border-radius: 4px;
      border: 1px solid #cccccc;
      font-size: 14px;
    }
  }
}

.welcomebtn {
  width: 95%;
  margin-top: 20px;
  padding: 1rem;
  border-radius: 2rem;
  background: #472d20;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
    background: #f35404;
    color: #472d20;
    border: 0;
  }
}

.corujao {
  background: url("./marketplace.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 2;

  min-width: 100%;
  min-height: 100%;
  h1 {
    color: white;
    position: absolute;
    top: 100px;
    right: 10px;
  }
}

.link-landing {
  position: absolute;
  color: white;
  right: 50px;
  top: 200px;
  border-radius: 20px;
  text-decoration: none;
  background: #472d20;
  width: 150px;
  padding: 20px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background: #f35404;
    color: white;
  }
}

.voos {
  background: url("./fly.jpg");
  position: absolute;
  top: 250vh;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  h1 {
    position: absolute;
    top: 60%;
    right: 20%;
    color: white;
  }
  p {
  }
}
.link-voos {
  color: white;
  position: absolute;
  top: 72%;
  right: 25%;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  background: #472d20;
  width: 120px;
  padding: 20px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background: #f35404;
    color: white;
  }
}
.email {
  position: absolute;
  top: 200vh;
  height: 50vh;
  width: 100%;
  i {
    position: absolute;
    top: 53%;
    right: 31%;
  }
  p {
    font-size: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    right: 50%;
  }
  input {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 250px;
    border-radius: 10px;
  }
}

.footer {
  min-height: 250px;
  margin-top: 40px;
  background: #282828;
  font-family: "Gravity-Regular";

  ul {
    li {
      width: 50px;
      height: 50px;
      background: #fcfcfc;
      margin: 10px;
      padding-top: 5px;
      border-radius: 50%;
      &:hover {
        background: #868080;
        color: white;
      }
      i {
        color: #212529;
        font-size: 20px;
      }
    }
  }

  h4 {
    padding-top: 50px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
  }
}
