.sec {
  display: grid;
  grid-template-columns: repeat(10, auto);
}
.con {
  margin: 0;
  height: 100vh;
}
.dd {
  background-color: white;
  height: 100vh;
}
.hh1 {
  font-family: MontSerrat;
  font-size: 4rem;
  position: absolute;
  top: 70%;
  left: 12%;
  opacity: 0.2;
  z-index: 2;
  color: black;
}

.hh2 {
  color: black;
}
.pp1 {
  font-family: MontSerrat;
  font-size: 2rem;
  position: absolute;
  top: 60%;
  left: 12%;
  opacity: 0;
  z-index: 2;
  color: rgb(253, 253, 253);
}
.pp2 {
  color: black;
}
