.sec {
  display: grid;
  grid-template-columns: repeat(10, auto);
}
.con {
  margin: 0;
  height: 100vh;
}
.dd {
  background-color: white;
  height: 100vh;
}
.hh1 {
  font-family: MontSerrat;
  font-size: 4rem;
  position: absolute;
  top: 70%;
  left: 12%;
  opacity: 0.2;
  z-index: 2;
  color: black;
}

.hh2 {
  color: black;
}
.pp1 {
  font-family: MontSerrat;
  font-size: 2rem;
  position: absolute;
  top: 60%;
  left: 12%;
  opacity: 0;
  z-index: 2;
  color: rgb(253, 253, 253);
}
.pp2 {
  color: black;
}
.about-container {
  padding: 50px;
  background: #b6b3b3;
}
.missao {
  background: #fcfcfc;

  border-radius: 10px;
  display: flex;
}
.valores {
  min-width: 60%;
  font-size: 15px;
  padding: 20px;
  h3 {
    color: rgb(94, 86, 13);
  }
}
.imagem-murucututu {
  min-width: 40%;
  max-width: 40%;
  img {
    width: 80%;
    height: 80%;
    padding: 40px 0px 0px 60px;
  }
}
