.container2 {
  background: lightgray;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.sub1 {
  min-width: 100%;
  height: 40vh;

  padding: 30px 30px;
  margin-bottom: 40px;
}
.sub2 {
  min-width: 100%;
  max-width: 100%;
}

.procurar {
  background: white;
  min-width: 80%;
  height: 40vh;
  padding: 20px;
  border-radius: 20px;
}

.btnsubmit1 {
  max-width: 40%;
  float: right;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #1a8fb4;
}

.procurar .btnsubmit1:hover {
  background-color: #08bff7;
  text-decoration: none;
  color: #472d20;
}
.procurar input {
  min-width: 40%;
  border-radius: 5px;
  padding: 5px;
}
.figuras {
  margin-top: 150px;
  margin-left: 100px;
}
.box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 300px;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 5px 5px;
}

.imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
  background: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box:hover .imgBx {
  transform: translateY(-100px);
  cursor: pointer;
}
.imgBx img {
  transition: 0.5s;
}
.box:hover .imgBx img {
  opacity: 0.5;
  cursor: pointer;
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
}
.social-icon li a {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateY(200px);
  opacity: 0;
}
.box .social-icon li a:hover .fab {
  transform: rotateY(360deg);
}
.box .social-icon li a:hover .fas {
  transform: rotateY(360deg);
}
.box .social-icon li a .fab {
  font-size: 24px;
  line-height: 50px;
  transition: 1.5s;
}

.box .social-icon li a .fas {
  font-size: 24px;
  line-height: 50px;
  transition: 1.5s;
}

.box:hover .social-icon li a {
  transform: translateY(0px);
  opacity: 1;
}
.box:hover .social-icon li:nth-child(1) a {
  transition-delay: 0s;
}
.box:hover .social-icon li:nth-child(2) a {
  transition-delay: 0.2s;
}
.box:hover .social-icon li:nth-child(3) a {
  transition-delay: 0.4s;
}
.box:hover .social-icon li:nth-child(4) a {
  transition-delay: 0.6s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
.details h2 {
  margin: 10px 0 0;
  text-align: center;
  padding: 0;
  font-size: 1rem;
}
.details h2 span {
  color: #bbb;
}
